.arrow-tp {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.arrow-bt {
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
/*Chrome any
Firefox any
Safari any
Opera 12.1+
IE 10+
iOS any
Android any*/
.box {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* IE 10+ */
}
.borderbox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
